<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Team-Iterum/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="MagistrAVSH" />
            <add key="ClearTextPassword" value="3402b7aaa5f83cc4854a417d353741c758c8c348" />
        </github>
    </packageSourceCredentials>
</configuration>
