<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/Team-Iterum/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="MagistrAVSH" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
